<div class="adev-footer-container">
  <div class="adev-footer-columns">
    <div>
      <h2>Redes Sociales</h2>
      <ul>
        <li>
          <a [href]="X" title="X (formerly Twitter)">X (antes Twitter)</a>
        </li>
        <li>
          <a
            [href]="DISCORD"
            title="Únase a las discusiones en el servidor de Angular Hispano en Discord."
          >
            Discord
          </a>
        </li>
        <li>
          <a [href]="GITHUB" title="GitHub">GitHub</a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Comunidad</h2>
      <ul>
        <li>
          <a
            href="https://github.com/angular-hispano/angular-docs-es/blob/main/CONTRIBUTING.md"
            title="Contribuir al proyecto"
          >
            Contribuir
          </a>
        </li>
        <li>
          <a
            href="https://angular.lat/coc"
            title="Tratarnos unos a otros con respeto."
          >
            Codigo de coducta
          </a>
        </li>
        <li>
          <a
            href="https://github.com/angular-hispano/angular-docs-es/issues"
            title="Publique problemas y sugerencias en github."
          >
            Reportar problemas
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h2>Recursos</h2>
      <ul>
        <li>
          <a routerLink="/press-kit" title="Contactos de prensa, logotipos y branding.">Carpeta de prensa</a>
        </li>
        <li>
          <a routerLink="/roadmap" title="Roadmap">Roadmap</a>
        </li>
      </ul>
    </div>
  </div>
  <p class="docs-license">
    Desarrollado y mantenido por Google ©2010–{{ currentYear() }}.<br />
    El código y la documentación original en inglés están licenciados bajo una
    <a routerLink="/license" title="Texto de la licencia">licencia tipo MIT</a> y
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> respectivamente.<br />
    Traducción al español realizada por
    <a href="https://angular.lat" target="_blank" rel="noopener">Angular Hispano</a>
    ©2019–{{ currentYear() }}, bajo la licencia
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
  </p>
</div>
