# Compiled output
/build
/tmp

# Personal local Bazel overrides (see .bazelrc.user.example)
.bazelrc.user

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Firebase Caching
.firebase
