<div class="two-column-step">
  <div class="step-description">
    <div class="header">Flujo de Control</div>
    <div class="description">
      La nueva sintaxis de flujo de control de Angular hace que las plantillas sean más fáciles de
      escribir y entender.
    </div>

    <button
      class="docs-primary-btn"
      [attr.text]="'Aprende más sobre el Flujo de Control'"
      routerLink="/guide/templates/control-flow"
    >
      Aprende más sobre el Flujo de Control
    </button>
  </div>

  <div class="step-code">
    <div class="code-block">
      <div class="code-header">
        <span>my-template.html</span>
        <span class="copy-icon"></span>
      </div>

      <adev-code-block [code]="Example" language="angular-html" />
    </div>
  </div>
</div>
